<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= supplier.contact %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= supplier.remarks %>
  </p>

</div>
