<div id="<%= dom_id raw_material %>">
  <p>
    <strong>Supplier:</strong>
    <%= raw_material.supplier_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= raw_material.name %>
  </p>

  <p>
    <strong>Expires on:</strong>
    <%= raw_material.expires_on %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= raw_material.unit %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= raw_material.remarks %>
  </p>

</div>
