<p style="color: green"><%= notice %></p>

<%= render @raw_material %>

<div>
  <%= link_to "Edit this raw material", edit_raw_material_path(@raw_material) %> |
  <%= link_to "Back to raw materials", raw_materials_path %>

  <%= button_to "Destroy this raw material", @raw_material, method: :delete %>
</div>
