<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<nav>

<ul>
    <li>
<%= link_to "Home", root_url %>
    </li>
    <li>
<%= link_to "Suppliers", suppliers_url %>
    </li>
    <li>
<%= link_to "Raw Material", raw_materials_url %>
    </li>
</ul>
</nav>
